<div *ngIf="!nom; else forminfo">
  <form [formGroup]="myForm" (ngSubmit)="Addpost(myForm.value)">
    <div>
      <div>
        <h1> Inscription </h1> <br/>
          <label>nom</label>
          <input type="text" formControlName="nom"><br/>
          <div *ngIf="!myForm.controls['nom'].valid && myForm.controls['nom'].touched">{{message_alert}}</div>
          <label>prenom</label>
          <div *ngIf="!myForm.controls['prenom'].valid && myForm.controls['prenom'].touched">{{message_alert}}</div>
          <input type="text" formControlName="prenom"><br/>
          <label>num</label>
          <div *ngIf="!myForm.controls['num'].valid && myForm.controls['num'].touched">{{message_alert}}</div>
          <input type="text" formControlName="num"><br/>
          <label>email</label>
          <div *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">{{message_alert}}</div>
          <input type="text" formControlName="email"><br/>
          <input type="submit" value="Submit_Form" [disabled]="!myForm.valid" >
        </div>
    </div>

  </form>
</div>

<ng-template #forminfo>
  <div class="from-container">
    <div class="row columns">
      <h1>Bienvenue</h1>
      <h1>{{ nom }}</h1>
      <h1>{{ prenom }}</h1>
    </div>

  </div>
</ng-template>